* {
  font-family: Calibri, Arial, Helvetica, sans-serif;
  font-size: 1.04em;
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

#table-container {
  overflow-x: auto;
}

#table {
  border-collapse: collapse;
}

#table th {
  background-color: lime;
  padding: 15px;
  border: 3px solid blue;
  color: blue;
}

#table td {
  background-color: blue;
  padding: 15px;
  text-align: center;
  border: 3px solid #00CC00;
  color: lime;
}

input {
  background-color: #0098FF;
  color: lime;
  border: 5px solid #00CC00;
  border-radius: 10px;
  padding: 10px;
  transition: .3s;
}

/*input:hover {
  background-color: #0070FF;
  transition: .3s;
}

input:focus {
  background-color: lime;
  border: 5px solid blue;
  color: blue;
  transition: .3s;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  color: white;
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
